<div class='diagrambuilder-container tailwind'>
    <div class='header navbar'>
        <div class="db-header-container">
            <div class="db-diagram-name-container">
                <span id='diagramName' class="db-diagram-name" (click)='renameDiagram($event)'>Untitled Diagram</span>
                <input id='diagramEditable' type="text" class="db-diagram-name" (keydown)='diagramNameKeyDown($event)'
                    (focusout)='diagramNameChange($event)' />
                <span id='diagramreport' class="db-diagram-name db-save-text"></span>
            </div>
            <div class='db-menu-container'>
                <div class="menu-control">
                    <ejs-menu [items]='dropDownDataSources.fileMenuItems' (select)='menuSelect($event)'  (beforeItemRender)="beforeItemRender($event)"></ejs-menu>
                </div>
            </div>
        </div>

        <div class='db-toolbar-editor'>
            <div class='db-toolbar-container'>
                <ejs-toolbar overflowMode='Scrollable' id="toolbarEditor" (clicked)="toolbarClick($event)">
                    <e-items>
                        <e-item prefixIcon="sf-icon-save tb-icons" tooltipText="Save Diagram"
                            cssClass="tb-item-start tb-item-save"></e-item>
                        <e-item prefixIcon="sf-icon-open tb-icons" tooltipText="Open Diagram"
                            cssClass="tb-item-middle tb-item-open"></e-item>
                        <e-item prefixIcon="sf-icon-print tb-icons" tooltipText="Print Diagram"
                            cssClass="tb-item-middle tb-item-print"></e-item>
                        <e-item prefixIcon="sf-icon-export tb-icons" tooltipText="Export Diagram"
                            cssClass="tb-item-end tb-item-export"></e-item>
                        <e-item type='Separator'></e-item>
                        <e-item prefixIcon='sf-icon-undo tb-icons' tooltipText='Undo'
                            cssClass='tb-item-start tb-item-undo'></e-item>
                        <e-item prefixIcon='sf-icon-redo tb-icons' tooltipText='Redo'
                            cssClass='tb-item-end tb-item-redo'>
                        </e-item>
                        <e-item type='Separator'></e-item>

                        <e-item tooltipText='Font Family' cssClass='tb-item-start item-singleSelect'>
                            <ng-template #template>
                                <ejs-dropdownlist id="fontFamily" #fontFamily
                                    [dataSource]="dropDownDataSources.fontFamilyList" [(value)]="value"
                                    (change)="fontFamilyChange($event)">
                                </ejs-dropdownlist>
                            </ng-template>
                        </e-item>
                        <e-item tooltipText='Font Size' cssClass='tb-item-start item-singleSelect'>
                            <ng-template #template>
                                <ejs-dropdownlist id="fontSize" #fontSize
                                    [dataSource]="dropDownDataSources.fontSizeList" [(value)]="fontSizeValue"
                                    width="60px" (change)="fontSizeChange($event)"></ejs-dropdownlist>
                            </ng-template>
                        </e-item>
                        <e-item type='Separator'></e-item>
                        <e-item prefixIcon='sf-icon-bold tb-icons' tooltipText='Bold'
                            cssClass='tb-item-start item-singleSelect'></e-item>
                        <e-item prefixIcon='sf-icon-italic tb-icons' tooltipText='Italic'
                            cssClass='tb-item-middle item-singleSelect'></e-item>
                        <e-item prefixIcon='sf-icon-underline tb-icons' tooltipText='Underline'
                            cssClass='tb-item-end item-singleSelect'></e-item>
                        <e-item type='Separator'></e-item>
                        <e-item prefixIcon='sf-icon-text tb-icons' tooltipText='Font Color'
                            cssClass='tb-item-start item-singleSelect'>
                            <ng-template #template>
                                <div style="margin-bottom: 5px;">
                                    <input ejs-colorpicker id="font-color-picker" type="color" class='color-font'
                                        (change)="fontColorChange($event)" />
                                </div>
                            </ng-template>
                        </e-item>
                        <e-item prefixIcon='sf-icon-fill tb-icons' tooltipText='Fill Color'
                            cssClass='tb-item-middle item-singleSelect'>
                            <ng-template #template>
                                <div style="margin-bottom: 5px;">
                                    <input ejs-colorpicker id="fill-color-picker" type="color" class='color-fill'
                                        (change)="fillColorChange($event)" />
                                </div>
                            </ng-template>
                        </e-item>
                        <e-item prefixIcon='sf-icon-fill tb-icons' tooltipText='Stroke Color'
                            cssClass='tb-item-end item-singleSelect'>
                            <ng-template #template>
                                <div style="margin-bottom: 5px;">
                                    <input ejs-colorpicker id="stroke-color-picker" class='color-stroke' type="color"
                                        (change)="strokeColorChange($event)" />
                                </div>
                            </ng-template>
                        </e-item>
                        <e-item type='Separator'></e-item>
                        <e-item prefixIcon='sf-icon-pointer' tooltipText='Select Tool'
                            cssClass='tb-item-start tb-item-selected'></e-item>
                        <e-item prefixIcon='sf-icon-pan' tooltipText='Pan Tool' cssClass='tb-item-middle'></e-item>
                        <e-item prefixIcon='db-overview' tooltipText='Overview' cssClass='tb-item-end db-overview'>
                        </e-item>
                        <e-item type='Separator'></e-item>
                    </e-items>
                </ejs-toolbar>
            </div>
        </div>
    </div>
    <div class='row content'>
        <div class='main-content' role='main'>
            <div class="db-diagram-container" id="">
                <div id="diagramContainerDiv" class='db-current-diagram-container'>
                    <ejs-diagram #diagram id="diagram" width="100%" height="1000px" [layout]="layout"
                        [dataSourceSettings]='data' [rulerSettings]="rulerSettings" [snapSettings]="snapSettings"
                        [getNodeDefaults]='nodeDefaults' [getConnectorDefaults]='connDefaults'
                        (selectionChange)="selectionChange($event)" [setNodeTemplate]='setNodeTemplate'
                        (created)="created($event)" [selectedItems]="selectedItems" [scrollSettings]="scrollSettings"
                        (scrollChange)="scrollChange($event)" [pageSettings]="pageSettings"
                        (historyChange)="historyChange($event)" (onUserHandleMouseDown)="onUserHandleMouseDown($event)"
                        [commandManager]="commandManager">
                    </ejs-diagram>
                </div>
            </div>
            <div class='db-property-editor-container' id="propertyPanel" style="overflow:auto;border-left: 1px solid #CBCBCB;
            border-top: 1px solid #CBCBCB;height: 1000px">
                <div id="generalDiagramContainer" class="db-general-diagram-prop-container"
                    style="padding-bottom: -200px;">
                    <div id='diagramPropertyContainer' class="db-diagram-prop-container">
                        <div class="row db-prop-header-text" style="margin-left: 15px;margin-top: 10px;">
                            Properties
                        </div>
                        <div class="row property-panel-content" id="appearance">
                            <div class="row" style="padding-top: 10px">
                                <div class="row row-header" style="padding-top: 10px">
                                    Orientation
                                </div>
                                <div id="orientation">
                                    <div class="row" style="padding-top: 8px">
                                        <div class="image-pattern-style2 e-selected-orientation-style" id="TopToBottom"
                                            (click)="orientClick($event)"
                                            style="background-image: url(https://ej2.syncfusion.com/javascript/demos/src/diagram/Images/common-orientation/toptobottom.png); margin-right: 3px">
                                        </div>
                                        <div class="image-pattern-style2" id="BottomToTop" (click)="orientClick($event)"
                                            style="background-image: url(https://ej2.syncfusion.com/javascript/demos/src/diagram/Images/common-orientation/bottomtotop.png); margin: 0px 3px">
                                        </div>
                                        <div class="image-pattern-style2" id="LeftToRight" (click)="orientClick($event)"
                                            style="background-image: url(https://ej2.syncfusion.com/javascript/demos/src/diagram/Images/common-orientation/lefttoright.png); margin: 0px 3px">
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 8px">
                                        <div class="image-pattern-style2" id="RightToLeft" (click)="orientClick($event)"
                                            style="background-image: url(https://ej2.syncfusion.com/javascript/demos/src/diagram/Images/common-orientation/righttoleft.png); margin: 0px 3px">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-header" style="padding-top: 10px">
                                    Subtree Alignment
                                </div>
                                <div id="pattern">
                                    <div class="row" style="padding-top: 8px">
                                        <div class="image-pattern-style" id="pattern1" (click)="subTreeClick($event)"
                                            style="background-image: url(https://ej2.syncfusion.com/javascript/demos/src/diagram/patternimages/Pattern_1.png); margin-right: 3px">
                                        </div>
                                        <div class="image-pattern-style" id="pattern2" (click)="subTreeClick($event)"
                                            style="background-image: url(https://ej2.syncfusion.com/javascript/demos/src/diagram/patternimages/Pattern_2.png); margin: 0px 3px">
                                        </div>
                                        <div class="image-pattern-style  e-selected-pattern-style" id="pattern5"
                                            (click)="subTreeClick($event)"
                                            style="background-image: url(https://ej2.syncfusion.com/javascript/demos/src/diagram/patternimages/Pattern_5.png); margin: 0px 3px">
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 8px">
                                        <div class="image-pattern-style" id="pattern6" (click)="subTreeClick($event)"
                                            style="background-image: url(https://ej2.syncfusion.com/javascript/demos/src/diagram/patternimages/Pattern_6.png); margin: 0px 3px">
                                        </div>
                                        <div class="image-pattern-style" id="pattern7" (click)="subTreeClick($event)"
                                            style="background-image: url(https://ej2.syncfusion.com/javascript/demos/src/diagram/patternimages/Pattern_7.png);  margin: 0px 3px">
                                        </div>
                                        <div class="image-pattern-style" id="pattern8" (click)="subTreeClick($event)"
                                            style="background-image: url(https://ej2.syncfusion.com/javascript/demos/src/diagram/patternimages/Pattern_8.png); margin: 0px 3px">
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 8px">

                                        <div class="image-pattern-style" id="pattern9" (click)="subTreeClick($event)"
                                            style="background-image: url(https://ej2.syncfusion.com/javascript/demos/src/diagram/patternimages/Pattern_9.png); margin: 0px 3px">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 10px">
                                <div class="row row-header">
                                    Behavior
                                </div>
                                <div class="row" style="padding-top: 8px;">
                                    <div class="row db-prop-row">
                                        <div class="col-xs-8 db-col-left" style="width:120px">
                                            <span class="db-prop-text-style">Horizontal Spacing</span>
                                        </div>
                                        <div class="col-xs-4 db-col-right"
                                            style="margin-left: 6px;margin-bottom: 10px;">
                                            <div class="db-text-container" style="width: 77px; margin-left: 10px;">
                                                <div class="db-text-input">
                                                    <ejs-numerictextbox id="horizontalSpacing" min="20" max="60"
                                                        step="2" width="77px" style="width: 77px;" format="##.##"
                                                        [value]="30"
                                                        (change)='onhSpacingChange($event)'></ejs-numerictextbox>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row db-prop-row">
                                        <div class="col-xs-8 db-col-left" style="width:120px">
                                            <span class="db-prop-text-style">Vertical Spacing</span>
                                        </div>
                                        <div class="col-xs-4 db-col-right"
                                            style="margin-left: 6px;margin-bottom: 10px;">
                                            <div class="db-text-container" style="width: 77px; margin-left: 10px;">
                                                <div class="db-text-input">
                                                    <ejs-numerictextbox id="verticalSpacing" min="20" max="60" step="2"
                                                        width="77px" style="width: 77px;" format="##.##" [value]="30"
                                                        (change)='onvSpacingChange($event)'></ejs-numerictextbox>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row db-prop-row" style="padding-top: 10px;">
                                <button ejs-button id="reLayoutBtn" className="e-control e-btn e-primary" style="background-color: #0078d4;
                                border-color: #0078d4;
                                color: #fff;"
                                    cssclass='e-flat e-db-primary' (click)='reLayout()'>Re-Layout</button>
                                <button ejs-button id="addAssistantBtn" iconCss="sf-icon-add-child" 
                                    className="e-control e-btn e-primary" cssclass='e-flat e-db-primary' aria-disabled="true"
                                    (click)='addAssistant()' style=" background-color: #0078d4;
                                    border-color: #0078d4;
                                    color: #fff; opacity: 0.5; pointer-events: none !important;">Add-Assistant</button>
                            </div>

                            <div class="row db-prop-row"
                            style="border-top: 1px solid #CBCBCB;padding-top: 10px;margin-top: 10px;">
                                <div class="col-xs-4 db-col-left" :style="{ width: '160px', marginLeft: '5px' }">

                                    <button ejs-dropdownbutton id="pictureDropdown"
                                        [items]='dropDownDataSources.pictureItems' style="border-radius: 0%;"
                                        iconCss='sf-icon-insert_image' content="Picture" width="100px" popupWidth="160"
                                        (select)="insertOrRemovePicture($event)"></button>

                                </div>
                                <div class="col-xs-6 db-col-right" :style="{ width: '160px' }">
                                    <button ejs-dropdownbutton id="shapeTemplatesDropDown"
                                        iconCss='e-icons e-properties-2' content="Templates" width='100px'
                                        height='100px' [items]="dropDownDataSources.templateItems"
                                        (select)="modifyNodeTemplate($event)"></button>
                                </div>
                            </div>

                            <div class="row db-prop-row"
                            style="border-top: 1px solid #CBCBCB;padding-top: 10px;margin-top: 10px;">
                            <div class="col-xs-4 db-col-left" style="width: 60%; margin-bottom: 5px;">
                                <ejs-multiselect id='multiCheckbox' #checkbox
                                [dataSource]='dropDownDataSources.fieldsMultiListItems'  [value]='multiCheckboxValue' 
                                [showClearButton]="false" [showDropDownIcon]="true"
                                [fields]='dropDownDataSources.checkBoxFields' placeholder='Fields' [mode]='mode'
                                [filterBarPlaceholder]='filterPlaceholder'
                                [popupHeight]='popHeight'
                                (change)="checkboxmodifyNodeTemplate($event)">
                            </ejs-multiselect>
                            </div>
                            <div class="col-xs-4 db-col-right" style="margin-left: 10px;">
                                <button ejs-button cssclass='db-search-btn' className="e-control e-btn e-primary" iconCss='e-icons e-search'
                                id="searchBtn" style="font-size: 10px; background-color: #0078d4;
                                border-color: #0078d4;
                                color: #fff;" (click)="searchBtn()">Search</button>
                            </div>
                            </div>

                            <div class="row db-prop-row"
                                style="border-top: 1px solid #CBCBCB;padding-top: 10px;margin-top: 10px;">
                                <ejs-checkbox #checkbox id="expandable" label="Expandable" (change)="onExpandChange($event)">
                                </ejs-checkbox>
                            </div>

                            <div class="row db-prop-row">
                                <div class="col-xs-2 db-col-right db-prop-text-style" style="padding-top: 6px; margin-left: 10px;">
                                    <span class="db-prop-text-style">Zoom</span>
                                </div>
                                <div class="col-xs-6 db-col-left" style="padding-right: 10px">
                                    <ejs-slider id="zoomslider" type="MinRange" min="30" max="300" [value]="zoomLevel" (change)="updateZoomLevel($event)" >
                                    </ejs-slider>
                                </div>
                                <div class="col-xs-2 db-col-right">
                                    <input id="zoomSliderText" type="text" [value]="zoomLevel" readOnly class="db-readonly-input" />
                                </div>

                                <div class="col-lg-4" id="overview-container"
                                    style=" z-index:-1; width:25%; height: 350px; padding:0px;right:5px;bottom:5px;background:#f7f7f7;position:relative">
                                    <button ejs-button class="overview-toggle-btn" id="toggleOverviewButton"
                                        (click)="toggleOverviewButton()">&#215;</button>
                                    <ejs-overview id="overview" width="100%" sourceID="diagram">
                                    </ejs-overview>
                                </div>
                            </div>

                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <ejs-dialog #Dialog id="defaultDialog" [header]='header' [animationSettings]='animationSettings'
            [showCloseIcon]='showCloseIcon' [target]='target' [width]='width' [visible]="visible" isModal='true'
            [buttons]='defaultButtons'>
            <ng-template #content>
                <div id="editNodeDialogContent">
                    <div class="row">
                        Name
                    </div>
                    <div class="row db-dialog-child-prop-row">
                        <input type="text" id="name" />
                    </div>
                    <br>
                    <div class="row">
                        Role
                    </div>
                    <div class="row db-dialog-child-prop-row">
                        <input type="text" id="role" />
                    </div>
                    <br>
                    <div class="row">
                        Employee Id
                    </div>
                    <div class="row db-dialog-child-prop-row">
                        <input type="text" id="empId" />
                    </div>
                    <br>
                    <div class="row">
                        Team
                    </div>
                    <div class="row db-dialog-child-prop-row">
                        <input type="text" id="team" />
                    </div>
                    <br>
                    <div class="row">
                        E-mail
                    </div>
                    <div class="row db-dialog-child-prop-row">
                        <input type="text" id="mail" />
                    </div>
                    <br>
                    <div class="row">
                        Phone Number</div>
                    <div class="row db-dialog-child-prop-row">
                        <input type="text" id="phNumber" />
                    </div>
                    <br>
                </div>
            </ng-template>
        </ejs-dialog>
    </div>
    <div class='exportDialog'>
        <ejs-dialog #exportDialog id="exportDialog" [header]='exportHeader' [animationSettings]='animationSettings'
            [showCloseIcon]='showCloseIcon' [target]='target' [width]='width' [visible]="visible" isModal='true'
            [buttons]='exportButtons'>
            <ng-template #content>
                <div id="exportDialogContent">
                    <div class="row">
                        <div class="row">
                            File Name
                        </div>
                        <div class="row db-dialog-child-prop-row">
                            <input type="text" id="exportfileName" value="Untitled Diagram" />
                        </div>
                    </div>
                    <div class="row db-dialog-prop-row">
                        <div class="row">
                            Format
                        </div>
                        <div class="row db-dialog-child-prop-row">
                            <ejs-dropdownlist id="exportFormat" [dataSource]='dropDownDataSources.fileFormats'
                                [(value)]="formatValue"></ejs-dropdownlist>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ejs-dialog>
    </div>
    <div class="searchDialog">
        <ejs-dialog #searchDialog id="searchDialog" [header]='searchHeader' [animationSettings]='animationSettings'
            [showCloseIcon]='showCloseIcon' [target]='searchTarget' [width]='width' [position]="position"
            [visible]="visible" [isModal] ="false" [buttons]='searchButtons'>
            <ng-template #content>
                <div id="searchDialogContent">
                    <div class="row">
                        <div class="row">Search By</div>
                        <div class="row db-dialog-child-prop-row">
                            <ejs-dropdownlist id="searchDropDown" [fields]="fields" index="0"
                                [dataSource]="dropDownDataSources.searchDropDownItems"></ejs-dropdownlist>
                        </div>
                        <div class="row">Search Value</div>
                        <div class="row db-dialog-child-prop-row">
                            <input type="text" id="searchBox" />
                        </div>
                    </div>
                </div>
            </ng-template>
        </ejs-dialog>
    </div>
    
    <div style="display:none;">
        <ejs-uploader #defaultupload id='defaultfileupload' [asyncSettings]='path' (success)='onUploadSuccess($event)'
            (failure)='onUploadFailure($event)' (progress)='onUploadFileSelected($event)'></ejs-uploader>
    </div>

    <div className="pictureUpload" style="display:none;">
        <ejs-uploader #pictureUpload id='pictureUpload' class="pictureUpload" [asyncSettings]='path'
            (success)='onPictureUploadSuccess($event)'></ejs-uploader>
    </div>
</div>

<div class="sb-content-overlay" style="display: none;">
    <div class="sb-loading">
        <svg class="circular" height="40" width="40">
            <circle class="loadingPath" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10">
            </circle>
        </svg>
    </div>
</div>